*.xcbkptlist
/List.xcworkspace/xcuserdata/miguelgoni.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/List.xcodeproj/xcuserdata/miguelgoni.xcuserdatad/xcschemes/xcschememanagement.plist
/Pods/Pods.xcodeproj/xcuserdata/miguelgoni.xcuserdatad/xcschemes/xcschememanagement.plist
